*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* shared style */
.color-orange{
    color: #FD6E0A;
}
.btn-group{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.btn{
    background-color: #FD6E0A;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 18px 35px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
.section-headnig {
max-width: 827px;
text-align: center;
margin: 0 auto;

}
.section-headnig h2{
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 30px;
}
.section-headnig p{
    font-size: 18px;
    margin-bottom: 30px;
    color: #757575;
}

.text-center{
    text-align: center;
}



.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;

}




header{
    background-color: #FFF8F3;
    padding-top:50px;
    background: url("../images/developer.png"),url(../images/header_bg.png),#FFF8F3;
    background-position: 23px 38px , bottom right ;
    background-repeat: no-repeat;

}
nav{
    width: 71%;
    max-width: 1140px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo h2{
font-size: 45px;
font-weight: 900;
}

nav .menu{
    display: flex;
    list-style: none;
    gap:51px;
    align-items: center;
}

nav .menu a{
font-size: 20px;
color: #474747;
text-decoration: none;
}

/* Banner */
#banner{
    /* border: 1px solid red; */
    margin: 47px 38px 0 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
#banner .banner-content {
    max-width: 585px;
}
#banner .banner-content h2{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}
#banner .banner-content h1{
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}
#banner .banner-content p{
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}
#banner .banner-img img{
    max-width: 585px;
    vertical-align: middle;
}

/* About Section */
#about,#skills,#resume{
    padding-top: 130px ;
}
#about .about-contaner{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background-color: #FFF8F3;
    padding: 131px 156px;
}
#about .about-contaner .about-info{
  display: flex;
  justify-content: space-around;
}
.about-info .info-card p{
   font-size: 20px;
    color: #757575;
    line-height: 30px;
}
.about-info .info-card h4{
   font-size: 20px;
    line-height: 30px;
    font-weight: bold;
}


#skills .skills-container{
    width: 71%;
    max-width: 1140px;
    margin:0 auto;
}

#skills .skills-container .skills-box{
display: flex;
gap: 24px;
justify-content: ;
}

.skills-box .skills-card{
padding: 33px;
box-shadow: 0 6px 50px 0 #00000021;
max-width: 267px;
}
.skills-box .skills-card img{
max-width: 44px;
margin-bottom:30px ;
}
.skills-box .skills-card h3{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}
.skills-box .skills-card p{
    font-size: 16px;
    line-height: 28px;
}



#resume .resume-container{
    width: 71%;
    max-width: 1140px;
    margin:113px auto 0;
    display: flex;
    gap:24px;
}
#resume .resume-container .section-title{
    color: #474744;
    font-size: 30px;
    margin-bottom: 30px;

}
.resume-container .resume-card{
    max-width: 511px;
    margin-right: 47px;

}
.resume-container .resume-card .card-title{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #474747;

}
.resume-container .resume-card .card-info{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #757575;

}

.resume-container .resume-card .card-text{
 font-size: 16px;
 line-height: 28px;
 color: #757575;

}
.resume-container hr{
 
margin: 30px 0;
}

footer{
    margin-top:130px ;
    background-color:#FFF8F3 ;
    padding: 130px 0;
}

.footer-container{
    display: flex;
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    gap: 116px;
}
.footer-container .social{
    max-width: 562px;
}
.footer-container h2{
    font-size: 35px;
    color: #181818;
    font-weight: bold;
    margin-bottom: 20px;
}
.footer-container .social p{
    font-size: 16px;
    color: #474747;
    line-height: 28px;
    margin-bottom: 30px;
}
.footer-container .icon a{
    margin-right: 24px;
}
.footer-container form input[type="text"],input[type="email"], .footer-container form textarea{
width: 461px;
padding: 18px 31px;
margin-bottom: 24px;
border: none;
color: #757575;
}

.hide{
    display: none !important;
}
/* Responsive CSS */

@media screen and (max-width:576px) {

#about,#skills,#resume{
    padding-top: 60px ;
}
.btn-group{
    
    justify-content: center;
}
#about .about-contaner{
    padding: 20px;
}
.skills-container{
    width: 95%;
    
}

.section-headnig h2{
    font-size: 30px;
}

#skills .skills-container .skills-box,#about .about-contaner .about-info,.footer-container,
#resume .resume-container,nav,#banner{
    flex-direction: column;
}

.skills-box .skills-card{
    max-width: 100%;
}

#about .about-contaner .about-info{
    gap: 40px;
}

.footer-container form input[type="text"], input[type="email"], .footer-container form textarea{
    width: 100%;
}


#resume .resume-container{
    margin-top: 60px;
}

.resume-container .resume-card{
    margin-right: 10px;
}
.text-center{
    margin-top: 20px;
}
nav{
    gap: 20px;
}
nav .menu{
    flex-wrap: wrap;
    justify-content: center;
}


#banner{
    margin: 20px;
    text-align: center;
}

#banner .banner-img img{
    width: 100%;
}
#banner .banner-content h1{
    font-size: 44px;s
}


header{
    background-color: #FFF8F3;
    padding-top:50px;
    background: url(../images/header_bg.png),#FFF8F3;
    background-position: bottom right ;
    background-repeat: no-repeat;

}







}

